[Unit]
Description=Small radio automatization script
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/srv/media/radio/radio.py

[Install]
WantedBy=multi-user.target
