[Unit]
Description=Small radio automatization script
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/srv/media/radio/radio.sh
ExecStop=kill -9 `cat /tmp/radio.pid` && rm /tmp/radio.pid

[Install]
WantedBy=multi-user.target
